@import "../index.scss";

@mixin flexCenter
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.addFlashMainWindow
{
    @include flexCenter();
    position: relative;
    left:50%;
    transform: translateX(-50%);
    width:100%;
    height: 100%;
    flex-direction: column;
    // background-color: red;
    font-family: 'Kanit', sans-serif;


    .addCardFormWindow
    {
        width:90%;
        min-height: 500px;
        background-color: aliceblue;
        margin-top:120px;
        border-radius: 10px;
        @include flexCenter();
        flex-direction: column;

        form
        {
            width: 80%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        form *
        {
            margin-bottom: 10px;
            border: none;
            background-color: transparent;
            font-size: 18px;
            padding-left: 10px;
            border-bottom: 1px solid rgb(0, 0, 0);
            border-left: 1px solid black;
            border-radius: 3px;
        }

        select
        {
            width:90%;
            height: 50px;
        }

        select option
        {
            font-size: 20px;
        }

        input
        {
            width:90%;
            height: 50px;
        
        }
        textarea
        {
            width:90%;
            min-height: 100px;
        
        }
        button 
        {
            width:90%;
            height: 50px;
            background-color: $base-color;
            color: $base-text;
            font-size: 20px;
            margin-top: 10px;
            border-radius: 10px;
        }
        button:hover
        {
            cursor: pointer;
            background-color: rgba(67, 0, 143, 0.775);
        }
        button:active
        {
            background-color: rgba(36, 0, 77, 0.775);
;
        }
    }

    .flashcardList
    {
        color: $base-text;
        width:90%;
        // height: 800px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        // overflow: scroll;
        
        b
        {
            margin-left: 10px;
            border-bottom: 1px solid #FFFFFF;
            padding-bottom: 10px;
        }
        h1
        {
            text-align: center;
        }

        ul
        {
            width:100%;
            list-style: none;
            // background-color: $base-color;
            color: $base-text;
            display: flex;
            flex-wrap:wrap;
        }

    }

}

.modal
{
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.659);
    position: absolute;
    @include flexCenter();
    // align-items: flex-start;

    .editWindow
    {
        position: absolute;
        top:300px;
        width:600px;
        height: 400px;
        background-color: $base-white;
        border-radius: 10px;
        @include flexCenter();

        form
        {
            width:80%;
            height: 80%;
            @include flexCenter();
            flex-direction: column;
            gap:10px;

            button
            {
                width:80%;
                height: 15%;
                background-color: $base-color;
                color: $base-text;
                border:none;
                border-radius: 5px;
            }

            input, textarea
            {
                width:100%;
            }

            input
            {
                font-size: 22px;
            }

            textarea
            {
                height: 50%;
            }
        }

        h2
        {
            position: absolute;
            top:0;
            left:10px;
            
        }

        .closeButton
        {
            position: absolute;
            width:30px;
            height: 30px;
            right: 10px;
            top:10px;

            &:hover
            {
                cursor: pointer;
                transform: scale(1.05);
            }

            img
            {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .addFlashMainWindow .addCardFormWindow
    {
        width:50%;
    }
}
