@import "../index.scss";
@import "../pages/AddFlashcard.module.scss";

.homePagePage
{
    position: absolute;
    top:150px;
    left:50%;
    width: 90%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mainPageFilter
{
    height: 70px;
    width: 90%;
    background-color: $base-white;
    border-radius: 10px;
    @include flexCenter;

    select
    {
        height: 70%;
        width: 30%;
        background-color: $base-white;
        border-radius: 10px;
        font-size: 18px;
        margin-left: 10px;
    }
}

.actionButtons
{
    width: 50%;
    height: 60px;
    // background-color: $base-white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .actionButton
    {
        width:70px;
        height: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2 
        {
            opacity: 0;
        }

        &:hover h2 
        {
            font-family: $front-page-font;
            color: $base-white;
            font-size: 18px;
            opacity: 0.8;
        }

        img
        {
            height:100%;
            width:100%;

            &:hover
            {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }

}

.noItems
{
    color:$no-found-color;
    height: 300px;
    margin-top: 50px;
    font-size: 28px;
    @include flexCenter
}

@media screen and (min-width:1200px) {
    .mainPageFilter
    {
        width:500px;
    }

    .owlBox
    {
        display: block;
        width:200px;
        height:200px;
        left:7%;
        bottom: 50%;
        transform: translateY(50%);
    }
}