@import "../index.scss";
@import "../pages/AddFlashcard.module.scss";

.homePagePage
{
    position: absolute;
    top:150px;
    left:50%;
    width: 90%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mainPageFilter
{
    
    
    height: 50px;
    width: 90%;
    background-color: $base-white;
    border-radius: 10px;
    @include flexCenter;


    select
    {
        height: 80%;
        width: 30%;
        background-color: $base-white;
        border-radius: 10px;
        font-size: 18px;
        margin-left: 10px;
    }
}

.actionButtons
{
    width: 40%;
    height: 60px;
    // background-color: $base-white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .actionButton
    {
        width:50px;
        height: 50px;

        img
        {
            height:100%;
            width:100%;

            &:hover
            {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }

}

//need to check how it works
.flashCardCard
{
    margin-top: 50px;
    margin-bottom: 30px;
    width:500px;
    height: 300px;
    // background-color: $base-white;
    background-color: transparent;
    border-radius: 10px;
    @include flexCenter;
    perspective: 1000px;
   

    .flashCardInner
    {
        transition: transform 0.8s;
        transform-style: preserve-3d;
        width:100%;
        height: 100%;
        position: relative;
    }

    &:hover .flashCardInner
    {
        transform: rotateY(180deg);
    }

    .flashCardFront, .flashCardBack
    {
        backface-visibility: hidden;
        width:100%;
        height: 100%;
        background-color: $base-white;
        position: absolute;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        padding: 15px;
    }

    .flashCardBack
    {
        transform: rotateY(180deg);
    }

}