@import "../index.scss";
@import "../pages/AddFlashcard.module.scss";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&family=Wallpoet&display=swap');

.StatisticsWindow
{
    position: absolute;
    bottom:0;
    height: 100px;
    width: 100%;
    background-color: $base-white;
    @include flexCenter;
    justify-content: space-evenly;

    .window
    {
        width:30%;
        height: 80%;
        @include flexCenter;
        justify-content: space-evenly;
        font-family: 'Wallpoet', cursive;
        font-size: 28px;
    }
    .image
    {
        width:30%;
        height: 70%;

        img
        {
            width:100%;
            height: 100%;
        }
    }


}