@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$base-color: rgba(50, 0, 108, 0.775);
$base-text: rgb(255, 255, 255);
$base-white: rgb(246, 252, 255);
$no-found-color: rgb(99, 20, 20);
$front-page-font: 'Pacifico', cursive;

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #000000;
  background: $base-color;
}
